@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Carmichael University</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Carmichael University</h2>
        <p>
            Carmichael University is a sample application that
            was built to learn the use Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
</div>